<div class="flex gap-x-3">
  <div class="rounded w-10 h-10 flex justify-center items-center text-lg text-white font-medium"
    style="background-color: <%= message.user.avatar_color %>">
    <%= message.user.name.first.upcase %>
  </div>

  <div>
    <div class="space-x-0.5 text-sm">
      <span class="font-medium">
        <%= message.user.name %>
      </span>
      <span class="text-neutral-400">
        <%= time_ago_in_words(message.created_at) %> ago
      </span>
    </div>
    <p>
      <%= message.body %>
    </p>
  </div>
</div>
