<%= form_with url: session_path do |form| %>
  <div class="mb-4 space-y-2">
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email,
      required: true, autofocus: true, autocomplete: "username",
      placeholder: "Enter your email address", value: params[:email],
      class: "w-full md:w-auto" %>
  </div>

  <div class="mb-4 space-y-2">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password,
      required: true, autocomplete: "current-password",
      placeholder: "Enter your password",
      class: "w-full md:w-auto" %>
  </div>

  <%= form.submit "Sign in", class: "mt-2 button button-large button-blue w-full md:w-auto" %>
<% end %>
<br>

<%= link_to "Forgot password?", new_password_path %>
