<div class="grid grid-cols-12 gap-x-8">
  <div class="col-span-2 md:col-span-4 lg:col-span-3">
    <%= render "shared/rooms" %>
  </div>

  <div class="col-span-10 md:col-span-8 lg:col-span-9">
    <%= turbo_frame_tag "content" do %>
      <%= turbo_stream_from @room %>

      <div class="mb-6 rounded-md border-2 border-neutral-100 flex justify-between items-center px-4 py-3">
        <p class="text-neutral-800">
          You're viewing
          <span class="font-semibold">
            #general.
          </span>
        </p>

        <% if @room.users.include?(Current.user) %>
          <%= button_to "Leave room",
            leave_room_path(@room),
            data: { turbo_frame: "content" }, method: :delete,
            class: "button button-red button-small" %>
        <% else %>
          <%= button_to "Join room",
            join_room_path(@room),
            data: { turbo_frame: "content" },
            class: "button button-blue button-small" %>
        <% end %>
      </div>

      <div class="mb-6">
        <%= form_with model: [@room, Message.new], data: { turbo_frame: "content" } do |form| %>
          <div class="flex gap-x-3">
            <%= form.text_field :body, class: "flex-1", placeholder: "Write a message..." %>
            <%= form.submit "Send", class: "button button-blue" %>
          </div>
        <% end %>
      </div>

      <div class="space-y-3" id="messages">
        <%= render @room.messages.includes(:user) %>
      </div>
    <% end %>
  </div>
</div>
